*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image:url(wall\ \(43\).jpg);
    font-family: sans-serif;
}


.logo{
    float: left;
    padding: 10px 0;
    padding-left: 25px;
}

center{
    padding-top: 10vh;
    color: white;  
}

nav{
    height: 10vh;
    background: black;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height:100% ;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav{
        position: relative;
    }

.hamburger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
}

    .nav-links{
        position: fixed;
        background: black;
        height: 100vh;
        width:  100%; 
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li{
        opacity: 0 !important;
    }
    .nav-links li a{
        font-size: 20px !important;
    }
    .nav-links li:nth-child(1){
       transition: all 0.5s ease 0.2s; 
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s; 
     }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s; 
     }
    li.fade{
        opacity: 1 !important;
    }
}


.circle{
    background-image: url("p.png");
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-content: center;
}

.article{
    font-size: 20px; 
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    color: white;
}

.footer{
    width: 100%;
    display: block;
}

.inner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

h1{
    padding: 10px 0;
    font-size: 25px !important;
    text-transform: uppercase;
    color: white;
}

.footer-items p{
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}

h2{
    margin: 10px 0;
    color: grey;
    font-size: 16px !important;
    font-weight: lighter;
    text-transform: uppercase;
}

.border {
    height: 2px;
    width: 40px;
    background: darkblue;
}

ul{
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}

ul a{
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

ul a:hover{
    color: cornflowerblue;
}

ul li{
    margin: 10px 0;
    height: 25px;
}

li i{
    margin-right: 20px;
}

.social-media{
    width: 100% !important;
    color: #fff;
    text-align: center !important;
}

.social-media a {
    text-decoration: none ;
}

.social-media i {
    height: 25px !important;
    width: 35px !important;
    padding-top: 10px ;
    padding-bottom: 25px;
    color: #fff !important;
    border-radius: 50% !important;
    border: 1px solid grey !important;
    transition: 0.3s !important;

}
.social-media i:hover{
    background: grey;
}

.footer-bottom{
    padding: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 1085px){
    .footer-items{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .footer-items{
        width: 100%;
    }
}

.bg{
    width: 100%;
    height: 100vh;
    background-size: 100%; 
}

.form-group{
    display: flex;
    flex-direction: column;
}
.form-container{
    position: absolute;
    display: flex;
    flex-direction: column; 
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    color: #000;
    font-size: 15px;
}

p::first-letter{
    font-size: larger;
    padding-left: 20px;
}

.label{
    font-size: 20px !important;
        text-align: center;
        padding-top: 10vh;
        color: white;
}